<br>
<ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li class="active">Administrator Capabilities</li>
</ol>

<div class="row">
    <div class="display-container">
        <h1>Administrator Capabilities</h1>
        <ul>
            <li>Everything a contest crator can do</li>
            <li>Changing user roles</li>
            <li>Deleting users</li>
            <li>Full access to view or modify any resource on the site, including contests, referees, etc.</li>
        </ul>
    </div>
</div>