<br>
<ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li class="active">Contest Creator Capabilities</li>
</ol>

<div class="row">
    <div class="display-container">
        <h1>Contest Creator Capabilities</h1>
        <ul>
            <li>Create, modify, and delete referees</li>
            <ul>
                <li>
                    Note: you can only delete referees if you own it, <i>and</i> the referee does not have any contests.
                </li>
            </ul>
            <li>Create, modify, and delete contests</li>
            <li>Create, modify, and delete tournaments</li>
        </ul>
    </div>
</div>