<br>
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Help', help_path %></li>
  <li class="active">Create, Modify, or Delete Tournaments</li>
</ol>

<div class="row">
  <div class="display-container">
    <h1>Create, Modify, or Delete Tournaments</h1>
  </div>
</div>