<br>
<ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li class="active">Deleting Users</li>
</ol>

<div class="row">
    <div class="display-container">
        <h1>Deleting Users</h1>
        <p><i>Note: you cannot delete yourself.</i></p>
        <ol>
            <li>Select "Users" in the navigation bar.</li>
            <li>Select the user you wish to delete.</li>
            <li>Under "My Information", select the trash icon.</li>
            <li>Confirm in the dialog box that appears.</li>
        </ol>
    </div>
</div>