<br>
<ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li class="active">Student Capabilities</li>
</ol>

<div class="row">
    <div class="display-container">
        <h1>Student Capabilities</h1>
        <li>Upload players to a contest</li>
        <li>Challenge other players</li>
        <li>View tournament results</li>
        <li>View tournament match results</li>
        <li>View challenge match results</li>
    </div>
</div>