<br>
<ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li class="active">Terminology</li>
</ol>

<div class="row">
    <div class="display-container">
        <h1>Terminology</h1>

        <h3>Player</h3>
        <p class="definition">A file code submitted by a user to play in a specific contest (which can contain many
            tournaments).</p>

        <h3>Tournament</h3>
        <p class="definition">A competition between two or more players. The competition consists of a series of matches
            between various players.</p>

        <h3>Match</h3>
        <p class="definition">The overarching result of rounds played between two or more players. Matches contain at
            least one round, but can contain more depending on what the instructor or challenger decides.</p>

        <h3>Round</h3>
        <p class="definition">One specific instance within a match. For example, a single game of checkers, or a single
            game of risk. However many rounds are set by either the instructor or the challenger determines how many
            rounds there are in a match. Whoever has the majority of rounds won determines who wins the overall match.</p>

        <h3>Referee</h3>
        <p class="definition">A program submitted by an instructor that defines the rules of matches played within
            contests and enforces those rules.</p>

        <h3>Contest</h3>
        <p class="definition">This is what ties Aires together. A contest is a container of tournaments and players. For
            example, an instructor may set up a contest for a specific semester class. Within this contest, students
            will upload their player files to it, which allows the instructor to then set up tournaments to be played
            with the various players submitted. Also, players can challenge other players from the same contest if they
            want to see how they compare to another player specifically.</p>

        <h3>Challenge Match</h3>
        <p class="definition">A match between two or more players from the same
            contest that a student can set up independently from an instructor to compare
            their players with other players.</p>
    </div>
</div>

<div class="row">
    <div class="display-container">
        <h1>Model Hierarchy</h1>
        <h3>From general to specific:</h3>
        <ul>
            <li>Referee: Does not need anything</li>
            <li>Contest: Needs a Referee</li>
            <li>Tournament and Player: Need a Contest</li>
            <li>Match/Challenge Match: Need a Tournament and multiple Players</li>
            <li>Round: Needs a Match or a Challenge Match</li>
        </ul>
    </div>
</div>