<br>
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Help', help_path %></li>
  <li class="active">Upload Players to a Contest</li>
</ol>

<div class="row">
  <div class="display-container">
    <h1>Upload Players to a Contest</h1>
  </div>
</div>