<br>
<ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li class="active">View Challenge Match Results</li>
</ol>

<div class="row">
    <div class="display-container">
        <h1>View Challenge Match Results</h1>
        <ol>
            <li>From the home screen, select "View My Players".</li>
            <li>Under "My Players", choose the player that you entered into the challenge match.</li>
            <li>Under "Matches", choose the appropriate match.</li>
            <li>The match results are shown.</li>
        </ol>
    </div>
</div>