<br>
<ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li class="active">View Tournament Results</li>
</ol>

<div class="row">
    <div class="display-container">
        <h1>View Tournament Results</h1>
        <ol>
            <li>From the home screen, select "View Contests".</li>
            <li>Select the contest that the tournament is in.</li>
            <li>Select the appropriate tournament.</li>
            <li>The gold, silver, and bronze winners are shown, as well as the results of each of the individual
                matches.</li>
        </ol>
    </div>
</div>