<br>
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Help', help_path %></li>
  <li class="active">View Results</li>
</ol>

<div class="row">
  <div class="display-container">
    <h1>View Tournament and Challenge Match Results</h1>
  </div>
</div>