<div class="col-md-6">
	<p class="info-container">
        <%= link_to player_round.player.name, player_path(player_round.player) %>
        <% if player_round.result == 'Win' %>
            <%= image_tag 'crown.png' %>
        <% end %>
    </p>
</div>
