<% if !player_round.nil? %>
	<% @tmp = [] %>
	<% player_round.round.players.each do |p|%>
		<% @tmp << p.name %>
	<% end %>

	<li>
		<%= link_to @tmp.to_sentence, round_path(player_round.round) %>
		<% if player_round.result.nil? %>
			(Waiting)
		<% else %>
			(<%= player_round.result %>)
		<% end %>
	</li>

<% end %>
