<% setTitle("Sign Up") %>
<div class="row">
    <div class="center display-container top-margin col-md-offset-2 col-lg-offset-3 col-md-8 col-lg-6">
        <h1 class="headings new-heading row">Sign Up</h1>
        <%= form_for(@user) do |f| %>
            <%= render 'fields', f: f %>
            <%= f.submit 'Create new account', class: 'btn btn-danger' %>
        <% end %>
    </div>
</div>