<% if !player_match.nil? %>
	<% @tmp = [] %>
	<% player_match.match.players.each do |p|%>
		<% @tmp << p.name %>
	<% end %>
	<%= button_to(match_path(player_match.match), method: :get, class: 'results-container') do %>
		<%= @tmp.to_sentence %>
		<% unless player_match.result %>
			<span class="xs-font">(Waiting)</span>
		<% else %>
			<span class="xs-font">(<%= player_match.result %> on <%= player_match.created_at.strftime("%m-%d-%y") %>)</span>
		<% end %>
	<% end %>
<% end %>

