<div id="fixed-table-container-1" class = "fixed-table-container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Rank</th>
        <th>Wins</th>
        <%= render @tournament.players %>
      </tr>
    </thead>
    <tbody>
      <% %>
    </tbody>
  </table>
</div>