<tr>
    <td><%= player %></td>
    <td><%# link_to @player_attributes[player]['player_name'] %> (<%# @player_attributes[player]['user_name'] %>)</td>
    <td><%= player_counter + 1 %></td>
    <td>-</td>
    <%= render partial: 'result', collection: @results[player], as: :player2, locals: {player1: player} %>
</tr>