<div class="row">
    <div class="center display-container col-md-offset-1 col-md-10">
        <h1 class="headings row">Results</h1>
        <div id="fixed-table-container-1" class="fixed-table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Rank</th>
                        <th>Wins</th>
                        <%= render @tournament.players %>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'tournaments/player_row',
                               collection: @player_wins,
                               as: :player %>
                </tbody>
            </table>
        </div>
    </div>
</div>