<div class="row">
  <div class="center display-container col-md-offset-1 col-md-10">
    <h1 class="headings row">Single Elimination Bracket</h1>
    <div class="bracket">
      
    </div>
  </div>
</div>