<div class="container outer-home-container col-md-offset-1 col-md-5">
    <div class="display-container center">
        <h1 class="headings left row">Statistics</h1>
        <p class="info-container">Wins: <%= @playermatch.where(result: 'Win').count %></p>
        <p class="info-container">Losses: <%= @playermatch.where(result: 'Loss').count %></p>
        <p class="info-container">Ties: <%= @playermatch.where(result: 'Tie').count %></p>
        <p class="info-container">Win Percentage:
            <%= (@playermatch.where(result: 'Win').count.to_f / @playermatch.count * 100).round(2) %>%
        </p>
    </div>
</div>