<div class="form-group row left"  data-toggle="tooltip" data-placement="bottom" title="Selecting a start time that is before the current time will automatically start the match as soon as possible">
    <div class="col-xs-4 text-right padding-right-25">
        <%= f.label :earliest_start, "Start:" %>
    </div>
    <% Time.use_zone("America/Indianapolis") do %>
        <%= f.datetime_select :earliest_start, { start_year: Time.now.year, use_short_month: true, minute_step: 5, order: [:month, :day, :year],  datetime_separator: " @ " }, class: 'form-input' %>
    <% end %>
</div>

<div class="form-group row left">
    <p class="col-xs-4 text-right padding-right-25">Number of Rounds:</p>
    <%= f.text_field :num_rounds, class: 'form-control' %>
</div>

<% if @contest.playable_players_by(current_user).count > 0 %>
    <div class="row multiselector">
        <div>
            <p class="center player-label">Available Players:</p>
            <select id="leftValues" class="player-select" size="5" multiple>
                <%= render partial: "players/player_option",
                           collection: @contest.playable_players_by(current_user),
                           as: :player %>
            </select>
        </div>
        <div class="player-selectors">
            <br>
            <br>
            <input type="button" id="btnRight" onclick="addPlayer()" value="&#xf061;" />
            <input type="button" id="btnLeft" onclick="removePlayer()" value="&#xf060;" />
        </div>
        <div>
            <p class="player-label">Selected Players:</p>    
            <select name="match[player_ids][]" id="rightValues" class="player-select" size="5" multiple>
            </select>
        </div>
    </div>
<% else %>
    <p>No challenge-able players yet.</p><br>
<% end %>