.definition {
  padding-left: 25px;
}

.erd {
  background-color: white;
  padding: 15px;
}

.erd-caption {
  display: inline-block;
  margin-top: 25px;
  width: 543px;
}

h2.help-l2-header {
  margin: 20px 0 25px 0;
}

li.space-between {
  margin: 25px 0;
}