
// Blues
$b1: #D6FFFF;
$b2: #92c6d3;
$b3: #433622;
$b4: #4999B4;
$b5: #24505b;

// Greens
$g1: #C9F8CC;
$g2: #7AF883;
$g3: #13C91F;
$g4: #367F3B;
$g5: #026109;

// Reds
$r1: #FFCCCC;
$r2: #FF6666;
$r3: #625346;
$r4: #C10000;
$r5: #800000;

$brand-primary: $b3;
$brand-success: lighten($g3, 15%);
$brand-info:    lighten($b3, 15%);
$brand-warning: $r1;
$brand-danger:  $r3;


// Navbar
$navbar-default-bg:                 #d9d7cb;
$navbar-default-link-color:         $r3;
$navbar-default-link-hover-color:   $b3;
$navbar-default-brand-color:        $r3;
$navbar-height: 60;

// Primary (blue)
$btn-primary-bg:       #b9b59f;
$btn-primary-color:    #433622;

// Sucess (green)
$state-success-bg:     lighten($brand-success, 10%);
$state-success-text:   darken($brand-success, 30%);
$state-success-border: darken($state-success-bg, 25%);
$btn-success-bg:       darken($brand-success, 20%);
$btn-success-color:    #625346;//lighten($brand-success, 35%);
//$btn-success-border:   darken($brand-success, 10%);

// Info (light blue)
$state-info-bg:        lighten($brand-info, 10%);
$state-info-text:      darken($brand-info, 30%);
$state-info-border:    darken($state-info-bg, 25%);
$btn-info-bg:          $brand-info;//darken($brand-info, 20%);
$btn-info-color:       #625346;//lighten($brand-info, 35%);
//$btn-info-border:      darken($brand-info, 50%);

// Warning (light red)
$state-warning-bg:     lighten($brand-warning, 10%);
$state-warning-text:   darken($brand-warning, 30%);
$state-warning-border: darken($state-warning-bg, 25%);
$btn-warning-bg:       darken($brand-warning, 10%);
$btn-warning-color:    #625346;//lighten($brand-warning, 35%);

// Danger (red)
$state-danger-bg:      #C10000;
$state-danger-text:    #FFFFFF;
$state-danger-border:  #C10000;
$btn-danger-bg:        #b9b59f;
$btn-danger-color:     #625346;//lighten($brand-danger, 35%);


@import "bootstrap-sprockets";
@import "bootstrap";

.field_with_errors {
    @extend .form-group;
    @extend .has-error;
}

@import "post_bootstrap";
