.bracket {
	display: flex;
	align-items: center;
	justify-content: center;
}
.highlight {
	margin: 0;
}
.label {
  font-size: 1em !important;
  line-height: 20px !important;
  font-weight: 400 !important;
  color: #000000 !important;
  display: block !important;
}